body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h5,
strong,
label {
  font-family: "Lobster", cursive;
  color: #505050 !important;
  font-weight: bold;
}

p {
  font-family: "Quicksand", sans-serif;
  color: #403f3f !important;
}
body {
  font-family: "Arial", sans-serif;
}
* {
  font-family: "Lobster", cursive;
}
/* @font-face {
  font-family: "Blueberry";
  src: url("fonts/blueberry.woff2") format("woff2"), url("fonts/blueberry.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

/* body {
  font-family: "Blueberry", sans-serif;
} */
.navbar-brand {
  font-weight: bold;
}

.hero-section {
  background-color: #6c757d;
  color: white;
}

.testimonial {
  background-color: white;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn-light:hover {
  background-color: #f8f9fa;
  color: #000;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.barra {
  background-color: #e3e3e3 !important;
  color: white !important;
  filter: brightness(1.1);
}
.degradado {
  /* background: linear-gradient(90deg, #453e8f, #e38942, #e38942, #453e8f); */
  background: #1c1c1c;
  /* filter: brightness(1.1); */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
}
body {
  /* width: 100%;
  height: 200px; */
  background-color: rgba(110, 194, 157, 0.1);
  /* También puedes agregar un borde o sombra si lo deseas */
  /* border: 1px solid #e38942; */
}

.mensaje-pago {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.mensaje-pago h1 {
  color: #4caf50;
  font-size: 24px;
  margin-bottom: 10px;
}

.mensaje-pago p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.mensaje-pago .icono {
  font-size: 50px;
  color: #4caf50;
  margin-bottom: 20px;
}

.mensaje-pago .boton {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.mensaje-pago .boton:hover {
  background-color: #45a049;
}

#payment-message {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
}

.logo {
  max-height: 250px; /* Ajusta la altura del logo según sea necesario */
  margin-right: 20px; /* Espaciado entre el logo y el texto */
}
.content {
  text-align: center;
}
.imagen-pequena {
  max-height: 200px; /* Ajusta la altura de la imagen pequeña según sea necesario */
}

.degradado {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Espaciado interno */
}
.logo {
  max-height: 150px; /* Ajusta la altura del logo según sea necesario */
  margin: 0 20px; /* Espaciado entre el logo y la imagen pequeña */
}
.imagen-pequena {
  max-height: 150px; /* Ajusta la altura de la imagen pequeña según sea necesario */
}
/* Asegúrate de que el contenedor sea flexible y se ajuste en pantallas más pequeñas */
@media (max-width: 768px) {
  .logo {
    max-height: 100px; /* Ajusta la altura del logo en pantallas pequeñas */
    margin: 0 10px; /* Reduce el margen en pantallas pequeñas */
  }
  .imagen-pequena {
    max-height: 150px;
    padding: 5px;
    /* Ajusta la altura de la imagen pequeña en pantallas pequeñas */
  }
}
